*{
margin: 0;
padding: 0;
}
.navigation{
    background-image: linear-gradient(dodgerblue,rgb(15, 67, 118));
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation > ul{
    display: flex;
    margin-right: 50px;

}
.navigation > ul >li{
    list-style: none;
    margin: 0px 5px;
    margin-left: -5px;
    padding: 15px 0px;
   
   
}
.navigation > ul > li > a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    border-right: 1px solid white;
    padding: 15px 20px;
    transition: 1s;
    
}
.navigation > ul >li:first-child >a{
    border-left: 1px solid white;
}
.logo > h2{
    color:white;
    margin-left: 50px;
}
.logo > h2 > .firstletter{
   color:yellow;
   font-size: 30px;
}
.navigation > ul > li:hover > a{
   color:rgb(110, 167, 224);
   background-color: rgb(49, 95, 141);

}

/* dropdownmenu */
.dropdownmenu{
    opacity: 0;
    visibility: hidden;
    background-color: dodgerblue;
    text-align: center;
    margin-top: 15px;
    width: 190px;
    position: absolute;
    box-shadow: 10px 10px 8px black;
    transition: 0.5s;
    transform: scaleY(0);
    transform-origin: top center;
}
.dropdownmenu > li{
    list-style: none;
    padding: 15px 0px;
    border-bottom: 1px solid white;   
}
.dropdownmenu > li:first-child{
    border-top: 1px solid white;
}
.dropdownmenu >li >a{
    text-decoration: none;
    color:white;

}
.dropdownmenu > li:hover{
     background-color: rgb(27, 84, 141);
     box-shadow: 5px 5px 4px white;
}
.navigation > ul > li:hover > .dropdownmenu{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}


/* Hero__area__section start */

.hero__section{
    background-image: linear-gradient(rgba(102, 80, 80, 0.286),rgba(29, 26, 26, 0.84)),   url("image/Jaton1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
}
.main__area{
   padding-top: 180px;
   color:white;
}
.main__area > h1{
    background-color: #064b8f6d;
    width:40%;
    margin: 20px auto;
    font-size: 40px;
    padding: 20px;
    font-style: italic;
    border-radius: 10px;
}

.main__area > button{
    font-size: 20px;
    background-color: rgba(30, 143, 255, 0.363);
    padding: 15px 25px;
    color:white;
    border-radius: 30px;
    border:3px solid green;
    margin-top: 20px;
    transition: 0.5s;
}
.main__area > button:hover{
    background-color:rgba(30, 143, 255, 0.019);
    cursor: pointer;
}
.main__area > h4{
  font-size: 20px;
  color:rgb(145, 122, 39);
}
.main__area > h5{
    font-size: 20px;
    color: rgb(181, 55, 55); 
}
.icon > a{
    color:white;
}
.icon > a > i{
    height: 40px;
    width: 40px;
    line-height: 1.4;
    background-color:rgb(46, 67, 182);
    font-size: 30px;
    padding: 5px;
    border-radius: 50%;
    border:2px solid green;
    margin:10px 5px ;
    transition: 1s;
}
.icon > a > i:hover{
    background-color: rgba(0, 0, 0, 0.066);
    border:2px solid red;
    transform: rotate(360deg);
}

/* main part has started */
.first-section{
    display: flex;
    width: 1000px;
    margin: 50px auto;
    padding:30px;
    justify-content: space-between;
    align-items: center;
}
.first-child{
    width: 300px;
    text-align: center;
    font-size: 20px;
    padding: 25px 10px;
    transition: 0.5s;
}
.first-child > i{
    font-size: 50px;
}
.first-child > h2{
    margin: 20px;
}
.first-child:hover{
    box-shadow: 5px 5px 8px black;
}

/* second section */

.Area > h2{
    text-align: center;
    font-size: 40px;
    position: relative;
}
.Area > h2::after {
    content: " ";
    width: 105px;
    height: 5px;
    background-color: #a81111;
    position: absolute;
    top: 50px;
    left: 785px;
}

.sideTag{
    display: flex;
    width: 1000px;
    margin:40px auto;
    justify-content: space-between;
    align-items: center;
}
.sameitem{
    width: 500px;
}
.sameitem >h2{
    margin: 20px 0px;
    font-size:30px;
}
.sameitem > h3{
    color:#a81111;
}
.sameitem > a{
    text-decoration: none;
    background-color: #a81111;
    color:white;
    padding:15px 30px;
    font-size: 30px;
    display: inline-block;
    margin: 20px;
    border-radius: 5px;
    transition: 0.5s;
}
.sameitem > a:hover{
    background-color: hsl(0, 70%, 21%);
}

/* third section */

.thirdArea{
    background-color: #FAFAFA;
    padding:20px 0;
}

.third__area{
 width: 1000px;
 margin:40px auto;
}

.socity{
    text-align: center;
    margin:40px;
}
.socity > h2{
    font-size: 30px;
}
.my__Future{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap:20px;
}
.plane{
   background-color: lightblue;
   text-align: center;
   padding:30px 0px;
   transition:0.5s;
}
.plane > a> i{
    font-size: 35px;
    color:#a81111;
}
.plane > h3{
    margin:15px 0;
}
.plane:hover{
    background-color: #80c6dd;
    cursor:pointer;
    box-shadow: 4px 4px 6px rgb(38, 91, 109);
} 

/* fourth section  start */

#Fourth-section{
    background-color: whitesmoke;
}
.card-design{
    width: 1000px;
    margin: auto;
}
.single-card{
    width: 300px;
    text-align: center;
    box-shadow: 3px 3px 8px gray;
    border-radius: 10px;
    transition: 0.5s;
}
.Three-card{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.Price-text{
    text-align: center;
    font-size: 30px;
    padding: 50px 0;
}
.card-img{
    width: 300px;
    height: 300px;
}
.card-img >img{
    max-width: 100%;
    max-height: 100%;
}
.single-card >h2{
    margin: 20px 0;
}
.single-card >.month-price{
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
    padding: 13px 0;
    margin: 15px 20px;
}
.month-price >.month-price-span1{
    font-size: 25px;
}
.month-price >.month-price-span2{
    color: gray;
}
.single-card >.btn{
    background-color: #a81111;
    color:white;
    padding:8px 30px;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}
.single-card >.btn:hover{
    background-color: #a8111100;
    color: black;
    cursor: pointer;
}
.single-card >.ancor{
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    color: gray;
    display: inline-block;
    margin-bottom: 15px;
}

/* fifth section */
#testimonial11{
    background-color: antiquewhite;
    margin:50px 0;
    padding-bottom: 100px;
}
.testimonial-section{
    width: 1000px;
    margin: auto;
}
.testimonials1{
    text-align: center;
    padding: 50px 0;
}
.testimonials1 >h2{
   font-size: 35px;
}
.testimonials1 > h4{
    color: gray;
    letter-spacing: 0.2rem;
}
.testimonial-title{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;

}
.testimonial{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    padding: 20px;
    border-radius: 10px;
}
.image10{
    width: 200px;
    margin-right: 20px;
}
.image10 >img{
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid red;
}
.testo >.testo-span{
   font-size: 20px;
   display: inline-block;
   margin-bottom: 10px;
}
.testo >p{
    font-style: italic;
    font-weight:bold;
}

.star1{
       margin-top: 10px;
       color:darkorange;
}

/* parallax-section */
#parallax1{
    background-image: url("/image/parallax.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 80px 0;
    
}
.parallax-section{
    display: flex;
    width: 1000px;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    color: white;
}
.parallax-single-item > i{
    font-size: 40px;
}
.parallax-single-item >h2{
    font-size: 40px;
    margin: 20px 0;
}

/* blog section */
.Blog-container{
    width: 1000px;
    margin: auto;
    margin-top: 50px;
}
.Blog-text{
    text-align: center;
    margin-bottom: 40px;
    
}
.Blog-text >h2{
    font-size: 30px;
}
.Blog-text>h4{
    letter-spacing: 4px;
    color: gray;
}
.blog-items-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 12px;
}
.image{
    max-width: 100%;
    height: 300px;
    transition: 0.5s;
}

.icon-item{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    opacity: 0;
    transition: 0.5s;
}
.image-title:hover >.icon-item{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.493);
}
.icon-item>i{
    font-size: 50px;
    color:white;
    text-align: center;
}
.image-title{
    position: relative;
    overflow: hidden;
}
.image-title:hover > .image{
   transform: scale(1.5);
}
.icon-item>h5{
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 10px;
}
.image-title:hover > .image{
    opacity: 1;
    visibility: visible;
    background-color: #80c6dd;
}
.Blog-continue {
    text-align: center;
    margin: 10px 0;
}
.Blog-continue >p{
    color:grey;
    margin-top: 10px 0;
}

/* contact section */
.contact-container{
    width: 1000px;
    margin: auto;
    padding: 100px 0;
}
.text-form{
    display: flex;
    gap:0 30px;
}
.text-form label{
    display: inline-block;
    margin:40px 20px 10px 20px;
}
.text-form  input{
    width: 200px;
    height: 35px;
    margin: 0 20px;
    border: none;
    padding:0 10px;
}
.form-parent{
    display: flex;
    background-color: gainsboro;
}
.form-Tag{
    width: 600px;
}
.Text-label{
    display: inline-block;
    margin: 20px 20px  10px 20px;
}
.Text-input{
    width: 90%;
    height: 30px;
    border: none;
    margin: 0 20px ;
}
.textarea1{
    width: 85%;
    height: 100px;
    margin: 0 20px;
    padding: 5px 20px;
   border:none;
}
.input-btn{
    margin:30px 20px;
    padding: 10px 50px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: #080869c2;
    color:white;
    margin-bottom: 40px;
}
.parent-div{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top:50px ;
}
.parent-div  a{
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 2.7;
    background-color:rgb(44, 44, 175);
    color:white;
    border:none;
    margin-bottom: 20px;
}
.parent-div  span{
    color:gray ;
}

/* footer section */
footer{
   
    background-color: blue;
    color:gray;
    padding: 50px 0 30px 0;
}
.footer-section{
    width: 1000px;
    margin: auto;
}
.footer-items{
    display: flex;
    justify-content: space-between;
}
.footer-items-one{
    width: 220px;
    overflow: hidden;
}
.footer-items-one h3{
    font-size: 25px;
    color:white;
    display: block;
    padding-bottom: 20px ;
}
.footer-items-one ul{
list-style-type: none;
}
.footer-items-one  .footer-item-para{
     margin-bottom: 20px;
}
.footer-items-one  i{
    color:white;
}
.footer-item-para1{
    margin: 10px 0;
}
.footer-items .footer-items-one:nth-child(2) li{
    margin: 10px 0;
}
.footer-items .footer-items-one:nth-child(3) li{
    margin: 10px 0;
}
.footer-items .footer-items-one:nth-child(4) p{
    margin: 10px 0;
}
.footer-items .footer-items-one:nth-child(4) a{
    text-decoration: none;
    color:brown;
}

.footer-menu ul{
    display: flex;
    justify-content: center;

}
.footer-menu ul li{
    list-style-type: none; 
    margin: 20px;
}
.footer-menu ul li a{
   color:grey;
   text-decoration: none;
   font-size: 20px;
font-weight: bold;

}
.footer-menu-para{
    text-align: center;
    margin: 7px 0;
}
.footer-menu-para span{
    color:brown;
}
hr{
    margin-top: 30px;
}



